.carousel {
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 0 20px hsl(232, 29%, 30%);
  /* overflow: hidden; */
}

.slider-wrapper {
  margin-bottom: 2rem !important;
}

.carousel [class~='carousel-slider'] {
  margin-bottom: 2rem;
  overflow: visible !important;
}

.carousel.carousel-slider {
  margin-bottom: 1.5rem !important;
}

.carousel [class~='control-dots'] {
  bottom: -38px !important;
}

.carousel [class~='dot'] {
  background-color: #2196f3 !important;
  box-shadow: 1px 1px 2px #2196f3;
}

.carousel [class~='legend'] {
  bottom: -4px !important;
}
