.sliders {
  font: 1.2em sans-serif;
  margin: 2em auto 3em;
  max-width: 40em;
  position: relative;
  text-align: center;
  width: 100%;
}

.sliders > span {
  bottom: 0.5em;
  display: inline-block;
  position: relative;
}

.sliders .buttons > * {
  margin: 1.5em;
  width: 13em;
}

.slider {
  background: #3f51b5;
  border-radius: 5px;
  display: inline-block;
  height: 2em;
  overflow-y: hidden;
  position: relative;
  text-align: center;
  width: 30%;
}

.slider > div {
  color: white;
  margin: 0.5em 0;
  overflow: hidden;
  position: absolute;
  top: -2em;
  transition: ease 0.5s;
  white-space: nowrap;
  width: calc(100% - 0.4em);
}

.slider .current {
  top: 0;
}

.slider .hidden {
  top: 2em;
}
